.suggestion-list {
  position: absolute;
  top: calc(3rem + 4px);
  width: calc(100% - 8px); /* TODO: fix this magic */
  max-height: calc(5 * 2rem);
  height: auto;
  padding: 4px;
  margin: 0;
  list-style: none;
  background: white;
  box-shadow: 0 0 4px 4px #E7E5DF;
  overflow: auto;
  border-radius: calc(4px + 4px); /* TODO: put variables here */
}

.suggestion-item {
  line-height: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

.suggestion-item:hover, .suggestion-item:focus {
  background: #E7E5DF;
}