.autocomplete {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  margin: 100px auto;
}

.autocomplete-input {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  border: 1px solid #393E41;
  border-radius: 4px;
  outline-color: #E7BB41;
}

.autocomplete-input::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  margin-left: .5em;
  /* TODO: better solution for svg? */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%393E41'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.tip {
  color: #393E41;
  font-size: 0.7rem;
  margin: 0 auto;
}